@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=Quicksand:wght@300&family=Rajdhani&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=PT+Sans+Narrow:wght@700&family=Quicksand:wght@300&family=Rajdhani&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=PT+Sans+Narrow:wght@700&family=Quicksand:wght@300&family=Rajdhani&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(135deg, #939393 0%,#424a53 100%);
}
.main {
    background-image: url('back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin: 20px;
    width: 80%;
    height: 85vh;
    margin-left: 100px;
    padding: 20px;
    box-shadow: rgb(183 183 183 / 17%) 0px -23px 25px 0px inset, rgb(169 169 169 / 15%) 0px -36px 30px 0px inset, rgb(111 111 111 / 10%) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    overflow: hidden;
    position: relative;
}


#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -58px;
}

nav #logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
}

nav a {
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
 letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    transition:  transform 0.3s ease-in-out;
    cursor:pointer;
}

nav a:hover {
    color: #d7a610;  
 transform: scale(1.1);

}

.logo{
    display: flex;
    justify-content: flex-start;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: -38px;
    margin-left:43px;
    letter-spacing: 2px;
    font-family: 'PT Sans Narrow', sans-serif;

}
img{
    margin-left: 10px;
    transition: transform 0.5 ease-in-out;
}
img:hover{
    transform: rotateY(180deg);
}
.dot{
    color: yellow;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    
   
}
.main-title{
text-transform: uppercase;
color: #fff;
font-size: 60px;
letter-spacing: 2px;
 font-family: 'Bebas Neue', sans-serif;
}
.slogan{
    color: #ffc107;
    text-align: center;
    margin-top: -80px;
    font-size: 13px;
}

.search-container {
    display: flex;
  justify-content: center;
  margin-top: 90px;
}

.custom-search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width:30%;
    margin-right: 10px;
    border-radius: 10px;
}
.search-icon {
    padding: 10px;
    background-color:#fff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: -1px;
}

.search-icon:hover {
    background-color: #ffc107;
}
.social{
    display: flex;
    align-items: center;
    margin-top: 220px;
}
.telegram-icon, .insta-icon , .fb-icon, .whatsapp-icon {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}
.telegram-icon:hover{
     transform: rotateY(180deg);
}
.fb-icon:hover{
    transform: rotateY(180deg);
}
.whatsapp-icon:hover{
    transform: rotateY(180deg);
}
.insta-icon:hover{
    transform: rotateY(180deg);
}

.About{
   text-align: center;
    height: auto;
    margin-top: 90px;       
}
.text-a ,.text-b{
    letter-spacing: 2px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff; 
  
}
.intro{
    color: #fff;
    font-family: 'Poppins' ,sans-serif;
    margin: 35px;
    font-size: 18px;
}

.card-a ,.card-c,.card-e {
    display: flex;
    justify-content: flex-start;
    height: 220px;
    width: 350px;
    border-radius: 40px;
    background-color: rgb(213, 213, 213);
    box-shadow:20px 20px 60px rgba(0, 0, 0, 0.274), inset -20px -20px 60px #5f6468;
    padding: 45px;
    margin: 30px;
    margin-left: 100px;
    font-family: 'Poppins' ,sans-serif;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card-b ,.card-d ,.card-f{
    display: flex;
    justify-content: flex-end;
    height: 220px;
    width: 350px;
    border-radius: 40px;
    background-color: rgb(220, 220, 220);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.274), inset -20px -20px 60px #5f6468;
    padding: 45px;
    margin: 60px;
    margin-top: -342px;
    margin-left: 730px;
    transition: opacity 0.5s ease-in-out ,transform 0.5s ease-in-out;
    transform: translateY(20px);
}
.card-a:hover{
    opacity: 1;
    transform: translateY(0);
}
.card-b:hover{
    opacity: 1;
    transform: translateY(0);
}
.card-c:hover{
    opacity: 1;
    transform: translateY(0);
}
.card-d:hover{
    opacity: 1;
    transform: translateY(0);
}
.card-e:hover{
    opacity: 1;
    transform: translateY(0);
}
.card-f:hover{
    opacity: 1;
    transform: translateY(0);
}

.top-a ,.top-b ,.top-c,.top-d,.top-e,.top-f{

    text-align: center;
    color: #000000;
    font-size: 18px;
    margin-top: -15px;
    margin-left: 20px;
}
.phrase ,.phrase-a,.phrase-b,.phrase-c,.phrase-d,.phrase-e{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.phrase-f{
    color: #fff;
    font-family: 'Poppins' ,sans-serif;
    margin: 35px;
    font-size: 18px;
}

.gallery{
    text-align:center;
    height: 100vh;
    margin-top: 100px;

}
